{% extends "base.html" %}
{% block title %}View Page{% endblock %}
<h1>{{values}}</h1>
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %} 
{% endif %}
{% endwith %}


      
<h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name" value="Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )



      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>


     <script>  
        var WORDS     = ["Harsh317", "C++", "Bash","Python","Java"];
        var SCRAMBLED = ["713harsh", "+c+", "Sbah","Ypnoth","Aajv"];

        var playing = true;

        while (playing) {
           var randomNumber = Math.floor(Math.random() * WORDS.length);


           var randomWord = SCRAMBLED[randomNumber];

           // alert(randomWord);
           
           var userInput = prompt ("Feeling Bored??\n\ncan you unscramble this word(make sure first word Capital)?" + "\n \t \t" + randomWord);
            
           
           console.log(userInput);
           if (userInput === null) {
            die   
          } else  {
           
            if (userInput == WORDS[randomNumber]) {
             alert("Great job!");
             
             
            } else  {
             alert("Sorry you were incorrect. The answer is: " + "\n \t \t" + WORDS[randomNumber]);
            }

             playing = confirm("Press OK To keep playing or Cancel to quit");

         }

          
         }
    </script>

{% endblock %}
